    
    <div class="container">
        <h1 class="text-center">Formulario</h1>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label" >peso</label>
                <input type="number" class="form-control" id="peso" placeholder="ingrese el peso" required>
        </div>
        <button  class="btn btn-block" id="enviar">Enviar</button>
        <div class="text-center center">
            
            <div id="tierra">
            </div>
            <br>

            <div id="luna">
            </div>

            <br>
            <div id="marte">
                
            </div>
        </div>
        
    </div>
    <script src="assets/js/calculo.js">  </script>


</body>

</html>